@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .h2title {
        text-align: center;
        padding: 14px 0;
        letter-spacing: 0.1em;
        color: #fff;
    }
}